<div [@routerTransition]>
  <app-page-header [heading]="'Node Management' | translate" [icon]="'fa-table'"></app-page-header>
  <div class="row">

    <div class="col col-xl-6 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">{{'Managed Node List'|translate}}</div>
        <div class="card-body table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>{{'Node Name' | translate }} </th>
              <th>{{'Node Ip' | translate }} </th>
              <th>{{'Node Type' | translate }} </th>
              <th>{{'Node Location' | translate }} </th>
              <th>{{'Node Operation' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
              <th scope="row">1</th>
              <td>domino 1</td>
              <td>47.106.227.209</td>
              <td>Windows Server 2016</td>
              <td>阿里云-华南D区</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

