<div [@routerTransition]>
  <app-page-header [heading]="'Smart Log'| translate" [icon]="'fa-table'"></app-page-header>
  <div class="row">

    <div class="col col-xl-6 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">Log List</div>
        <div class="card-body table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>{{'Log Date' | translate }} </th>
              <th>{{'Log Content' | translate }} </th>
              <th>{{'Log Status' | translate }} </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
              <th scope="row">1</th>
              <td>Log invaliable</td>
              <td>test</td>
              <td>test</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
