<div [@routerTransition]>
	<app-page-header [heading]="'Diagnose' | translate" [icon]="'fa-table'"></app-page-header>
	<div class="col">
		<button type="button" class="btn btn-primary" (click)="startJob()">{{'One-key Diagnosis' | translate}}</button>
	</div>
	<div><span>&nbsp;</span></div>
	<div class="row">

		<div class="col col-xl-6 col-lg-12">
			<div class="card mb-3">
				<div class="card-header">{{'URL Diagnosis' | translate }}</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered">
					<thead>
					<tr>
						<th>Item Id</th>
						<th>Node IP</th>
						<th>Protocol</th>
						<th>result</th>
					</tr>
					</thead>
					<tbody>
					<tr class="table-active">
						<th scope="row">1</th>
						<td>192.168.1.1</td>
						<td>SMTP</td>
						<td>FAILUE</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>

	</div>

</div>
