<div [@routerTransition]>
	<app-page-header [heading]="'Diagnose' | translate" [icon]="'fa-table'"></app-page-header>
	<div class="col">
		<button type="button" class="btn btn-primary">{{'One-key Diagnosis' | translate}}</button>
	</div>
	<div><span>&nbsp;</span></div>
	<div class="row">

		<div class="col col-xl-6 col-lg-12">
			<div class="card mb-3">
				<div class="card-header">{{'URL Diagnosis' | translate }}</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered">
					<thead>
					<tr>
						<th>#</th>
						<th>Diagnose Item</th>
						<th>Diagnose Result</th>
						<th>Diagnose Desc</th>
						<th>Comments</th>
					</tr>
					</thead>
					<tbody>
					<tr class="table-active">
						<th scope="row">1</th>
						<td>Url invaliable</td>
						<td>test</td>
						<td>test</td>
						<td>test</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>

	</div>

	<!-- IMAP checking -->
	<div class="row">
		<div class="col col-xl-6 col-lg-12">
			<div class="card mb-3">
				<div class="card-header">{{'IMAP Diagnosis' | translate }}</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>#</th>
							<th>Diagnose Item</th>
							<th>Diagnose Result</th>
							<th>Diagnose Desc</th>
							<th>Comments</th>
						</tr>
						</thead>
						<tbody>
						<tr class="table-active">
							<th scope="row">1</th>
							<td>Url invaliable</td>
							<td>test</td>
							<td>test</td>
							<td>test</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- SMTP checking -->
	<div class="row">
		<div class="col col-xl-6 col-lg-12">
			<div class="card mb-3">
				<div class="card-header">{{'SMTP Diagnosis' | translate }}</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>#</th>
							<th>Diagnose Item</th>
							<th>Diagnose Result</th>
							<th>Diagnose Desc</th>
							<th>Comments</th>
						</tr>
						</thead>
						<tbody>
						<tr class="table-active">
							<th scope="row">1</th>
							<td>Url invaliable</td>
							<td>test</td>
							<td>test</td>
							<td>test</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Mail checking -->
	<div class="row">
		<div class="col col-xl-6 col-lg-12">
			<div class="card mb-3">
				<div class="card-header">{{'Zombie Mail Diagnosis' | translate }}</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>#</th>
							<th>Diagnose Item</th>
							<th>Diagnose Result</th>
							<th>Diagnose Desc</th>
							<th>Comments</th>
						</tr>
						</thead>
						<tbody>
						<tr class="table-active">
							<th scope="row">1</th>
							<td>Url invaliable</td>
							<td>test</td>
							<td>test</td>
							<td>test</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- NRPC Protocol checking -->
	<div class="row">
		<div class="col col-xl-6 col-lg-12">
			<div class="card mb-3">
				<div class="card-header">{{'NRPC Diagnosis' | translate }}</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>#</th>
							<th>Diagnose Item</th>
							<th>Diagnose Result</th>
							<th>Diagnose Desc</th>
							<th>Comments</th>
						</tr>
						</thead>
						<tbody>
						<tr class="table-active">
							<th scope="row">1</th>
							<td>Url invaliable</td>
							<td>test</td>
							<td>test</td>
							<td>test</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
